
body {
  font-family: 'Roboto', sans-serif;
  background-color: #E8F6FE;
}

.barra { height: 15px; width: 100%; background-color: #003366;  }

.navbar { background-color: #0099cc; color: #fff; padding: 0; margin:0; }
.navbar a { color: #fff; }


.menu-1 { width: 100%; height: 50px; }
.menu-1 .col-auto { padding: 0;}
.menu-2 { width: 100%; margin: 0; }
.menu-2 .list-inline { width: 100%; padding: 0; margin: 0; }
.menu-2 .list-inline .active { border-bottom: 4px solid #fff; }
.menu-2 .col-3 {width: 22%; padding: 0 0 6px 0; }

.menu-3 {width: 100%; height: 100px; padding: 20px; }
.menu-3 .col-auto { padding: 0;}

.chat { border-bottom: 2px solid #ccc; padding: 15px 0; width: 100%; margin:0;  }


.img-fluid { margin-bottom: 10px; }


.datos .list-inline-item { width: 30%;  }

.imagenes-wsp { max-width: 60px; max-height: 60px; border-radius: 50px;  }
.imagenes-wsp_interior { max-width: 60px; max-height: 60px; width: 60px; border-radius: 50px; margin-top: -30px;  }
.datos { min-height: 500px; }
.datos .nombre { display: block; font-size: 18px; }
.datos .mensaje { font-size: 16px; }


.boton_inferior { position: fixed; bottom: 0; width:50px; height: 50px; border-radius: 50px; background: #0099cc; right: 30px; }
.boton_inferior i { color: #fff; padding: 17px; }
/*.datos { padding: 10px;  border-bottom:  2px solid #ccc; border-top:  2px solid #ccc;}*/

.mensaje_receptor { width: 280px; background: #ffffff; color: #000000; min-height:50px; margin: 10px; border-radius: 10px; padding: 5px;    }
.mensaje_emisor { width: 280px; background: #dddddd; color: #000000; min-height:50px; margin-left:auto; margin-right:0;  border-radius: 10px; padding: 5px;  }
.foto_mensaje { max-width: 260px; max-height: 260px; margin:5px; }
.check { color: #00b8ff; float: right; }
.check_left { color: #00b8ff; }

.imagen_converzacion { position: fixed; bottom: 0;  width: 95%; margin: 6px 6px;}



#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}
.mensaje_nuevo { padding: 10px; position: absolute; top: 18%; left: 3%; width: 95%; }
.mensaje_nuevo h1 { color: #ffffff; font-size: 1.8rem; }
.mensaje_nuevo .contenido_mensaje { background: #eeeeee; border-radius: 15px; padding: 15px; }
.mensaje_nuevo .contenido_mensaje .btn { text-align: left; }
.mensaje_nuevo .imagen-avatar { width: 60px; border-radius: 50px; }
.mensaje_nuevo h3 { font-size: 1rem; }
.mensaje_nuevo .btn .texto { color: #818181; margin-right: -28px;}
.mensaje_nuevo .btn .badge { top: 70px; right: 20px; border-radius: 50px; width: 30px; height: 30px; 
padding: 0.50em 0.4em;
position: absolute; }

.mensaje_nuevo_mensajes { padding: 10px; position: absolute; left: 3%; width: 95%; }
.mensaje_nuevo_mensajes h1 { color: #ffffff; font-size: 1.8rem; }
.mensaje_nuevo_mensajes .contenido_mensaje {  padding: 15px; }
.mensaje_nuevo_mensajes .mensajes { width: 100%; }


.bajada {width: 165px; font-size: 12px;}
.bajada strong { font-size: 16px; }

.wsp_texto {  font-family: Arial, FontAwesome; position: fixed; bottom: 0; width: 285px; border-radius: 15px; padding: 10px; margin: 7px; }

#myLink, #myLink_amelie, #myLink_gracia, #myLink_josefina { background: #007bff; color: #ffffff; padding: 8px 18px; border-radius: 70px; position: fixed; bottom: 12px; right: 10px; width: 50px; font-size: 22px; }
/* Extra small devices (portrait phones, less than 576px) */ 
@media (max-width: 575.98px) { 
	
	

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {


}

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 



 }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/*  Extra large devices (large desktops) */ 
